body {
    background-color:antiquewhite;
    margin: auto;
    display: block;
    color: #663300;
    
}

h1{
    text-align: center;
    font-size: 35px; 
    font-style: italic;
}

h2, h3 {
    text-align: center;
    font-size: 35px;
    border-style: solid;
    border-width: 5px;
} 

#container {
    text-align: center

}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
}


p {
    text-align: center;
    font-size: 25px;
    color: blue
}

button, #post {
    margin: auto;
    display: block;
}

.quote-text {
    font-style: italic;
    font-size: larger;
    font-weight: 100;
}

.quote-author{
    font-style: italic;
}

textarea {
    width: 500px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#comment-box, #post {
    border: none;
    border-radius: 5px;
}

.collection{
    display:list-item;
    text-align: center;
}

#text {
    color:darkgreen;
    font-size: x-large;
}








